@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');


.contenedor {
    font-size: 24px;
    color: #ffffff;
    padding: 10px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;  
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    gap: 1.2rem;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.2548);
    width: 75%;
    align-items: center;
    background-size: cover;
    height: 605px;

   
    
   

}
.cuerpo-modal{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.dino-imagen{
  width: 50%;
 align-self: center;
}
.contenedor span {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    
    background-color: #333;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
   
}
#contador{
  margin-top: 50px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.9);
  font-weight: 700;
  z-index: 3;
  
}
#mensaje{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  font-weight: 700;
  z-index: 3;
}
.Contenedor-mensaje{
    margin-top: 5.3rem;
    display: flex;
    text-align: center;
    flex-direction: row;
    gap: 1.5rem;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.texto-mensaje{
    font-size: 1.3654rem;
    font-family: 'Merriweather', serif;
    font-weight: 600;
    color: #332e2e;
    width:45% ;
    text-align: justify;
    
}
.imagen-mensaje{
  width: 45%;

}
.imagen-final{
  height: 750px;
}
hr{
    margin-top: 200px;
    margin-bottom: 200px;
}

.boton{
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.contenedor__menu{
    display: flex;
    justify-content: center;
    background: #e6e8eb;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.2548);
    justify-content: flex-start;

}
.contenedor__items{
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    font-size: 20px;
    justify-content: center;
    padding: 20px;
  
    

}


.item-link{
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color 400ms ease-in-out, box-shadow  400ms ease-in-out;
  }
  .item-link:hover {
    color: #fff;
    box-shadow: inset 200px 0 0 0 #54b3d6;;
  }
  
 
.item-link {
    color: #54b3d6;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
}

.boton {
  position: relative;
  display: inline-block;
  padding: 15px 35px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #271f1c;
  border-radius: 45px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 600ms ease;
    width: 25%;
    margin: 0 auto;
    margin-bottom: 85px;
  }
  
  .boton:hover {
    color: #271f1c;
    background-color: #fff;
  }
  
  .boton::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #271f1c;
    z-index: -1;
    transition: all 0.3s ease;
  }
  
  .boton:hover::before {
    width: 400px;
    height: 400px;
    transform: translate(-50%, -50%) scale(1);
  }
  
  .boton span {
    position: relative;
    z-index: 1;
  }
  
  .boton:hover span {
    transform: translateY(-20px);
  }
  

  .boton-trex {
    width: 100px;
    height: 75px;
    background-color: #333;
    border: none;
    border-top-left-radius: 50% 60%;
    border-top-right-radius: 50% 60%;
    border-bottom-left-radius: 50% 40%;
    border-bottom-right-radius: 50% 40%;
    position: relative;
    overflow: hidden;
  }
  
  .boton-trex::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-top: 20px solid #333;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    transform: rotate(45deg);
  }
  
  .boton-trex::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 20px solid #333;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    transform: rotate(-45deg);
  }
  .boton-accion{
    font-size: 1.2rem;
    width: 75%;
    margin-top: 20px;
}