/* regalo 1 */
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
.Contenedor__regalo{
    margin: 0 10px;
    display: flex;
    text-align: center;
    flex-direction: row;
    gap: 1.5rem;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(154, 224, 224);
    height: 600px;
    box-shadow: 0  0 5px rgba(0, 0, 0, 0.801);
    
}
.imagen-regalo{
    width: 650px;
    height: 350px;
    background-size: cover;
}
.texto__regalo{
    width: 40%;
    text-align: justify;
    font-size: 25px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
}
.titulo-regalo{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 35px;
    font-family: 'Bruno Ace SC', cursive;
    margin-bottom: 25px;
}
.contenedor-regalo-capturas{
    flex-direction: column;
    gap:1.56rem;
    width: 85%;
    margin: 0 auto;
    height: auto;
    padding: 10%;
}
.imagen-regalo-captura{
    width: 1050px;
    height: 750px;
    background-size: cover;

    
}
.texto-regalo-captura{
    width: 90%;
    font-size: 1.464rem;
    
}
.titulo-regalo-captura{
    margin-top: 85px;
}
.texto-regalo-img{
    width: 85%;
}
.texto-dialogo{
    margin-left: 10%;
    font-weight: 100;
}

.texto-plegaria{
    font-family: 'Satisfy', cursive;
    font-size: 1.85rem;
    font-weight: 200;
}

